global:
    config_version: 2
input:
    type: file
    path: {{ prometheus_grok_exporter_input_file_path }}
    readall: false
    
grok:
    patterns_dir: "{{ prometheus_exporters_common_root_dir }}/grok_exporter_current/patterns"
metrics:
{% for metric in prometheus_grok_exporter_metrics %}
    - type: {{ metric.type }}
      name: {{ metric.name }}
      help: {{ metric.help }}
      match: {{ metric.match }}
      labels:
{% for label in metric.label %}
          {{ label.key }}: {{ label.value }}
{% endfor %}
{% endfor %}
server:
    port: {{ prometheus_grok_exporter_port }}